*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 133, 133);
}

#container{
    min-height: 50vh;
    padding: 1vw;
    width: 40vw;
    background-color: brown;
    /* margin: auto auto; */
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-direction: column;
}
#container>h2{
    font-size: 2.5vw;
    text-transform: uppercase;
    text-decoration: underline rgb(206, 109, 92);
}
#input{
    width: 90%;
    padding: 0.8vw;
    background-color: rgb(95, 95, 95);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2vw;
    color: rgb(183, 183, 183);
}
#input::placeholder{
    color: rgb(183, 183, 183);
    font-size: 1vw;
}
#button{
    width: 50%;
    padding: 0.4vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(235, 141, 141);
    color: rgb(59, 59, 59);
}
/* #img{
    border: 2px solid black;
    border-radius: 10px;
} */